-
  function _isDisputeOwner() {
    return (currentUser && (currentUser.id === dispute.user.id));
  }

  function _isFollowUpConfirmed() {
    return dispute.data.disputeConfirmFollowUp;
  }

  var avatarUrl = currentUser.getAvatarUrl();

.Dispute__step-content(
  data-dispute-follow-up
  aria-hidden= (currentSection !== 'follow-up').toString()
)
  div
    .clearfix.mxn2.pb3
      .col.md-col-4.col-12.px2
        .Dispute__FollowUp__card.rounded.py3.px2.-bg-white.-dark
          h3.pb4= dispute.disputeTool.name
          .flex.items-center.pb1
            div: svg.block.-primary(width='46' height='56'): use(xlink:href='#svg-fingerprint')
            .pl2.-ff-sec
              - var _formData = dispute.data.forms && dispute.data.forms['personal-information-form'] || {}
              .-fw-600= _formData && _formData.name || ''

      .col.md-col-8.col-12.px2

        - var _headingText = '';
        case dispute.disputeTool.id
          // General Debt Dispute Letter
          when '11111111-1111-3333-1111-111111111111'
            - _headingText = 'Thank you for disputing your debt.'
          // Credit Report Letter
          when '11111111-1111-4444-1111-111111111111'
            - _headingText = 'Thank you for disputing your credit report.'
          // Private Student Loan Dispute Letter
          when '11111111-1111-6666-1111-111111111111'
            - _headingText = 'Thank you for disputing your private student debt.'
          default
            - _headingText = `Thank you for disputing ${dispute.disputeTool.name}`;

        h4.Dispute__FollowUp__Title.pb3.pt2= _headingText
        h3.pb3 Now what?
        .-fw-500!= dispute.disputeTool.data.nowWhat

        .mt2
          if lastStatus.status === 'Incomplete'
            form(method='post' action=routeMappings.Disputes.updateSubmission.url(dispute.id) onsubmit="this.submitButton.disabled = true")
              input(type='hidden' name='_method' value='put')
              ul.list-reset
                li.form-check.form-check-inline
                  input(type='radio' name='pending_submission' id='pending-submission-dc-to-mail' value='1' required)
                  label.form-check-label(for='pending-submission-dc-to-mail') I want the Debt Collective to mail a hard copy of my dispute
                li.form-check.form-check-inline
                  input(type='radio' name='pending_submission' id='pending-submission-member-to-mail' value='0' required)
                  label.form-check-label(for='pending-submission-member-to-mail') I prefer to print and mail it myself
              button(type='submit' name='submitButton').-fw-600.-k-btn.btn-primary.mt2 Save changes
          else
            p #[a(href=dispute.disputeThreadLink rel='noreferrer noopener' target='_blank') Click here] to access your dispute or to talk to a dispute pro.


    if dispute.data.disputeConfirmFollowUp
      .-caption.-neutral-mid.-ttu.-fw-600 Your dispute status:
      h4.Dispute__FollowUp__MainStatus.pb1.mb2.-ttu
        = lastStatus.status
