.Dispute__step-content(
  data-dispute-follow-up
  aria-hidden= (currentSection !== 'follow-up').toString()
)
  .p3
    - var _headingText = `Thank you for disputing ${dispute.disputeTool.name}`;
    case dispute.disputeTool.id
      // General Debt Dispute Letter
      when '11111111-1111-3333-1111-111111111111'
        - _headingText = 'Thank you for disputing your debt.'
      when '11111111-1111-6666-1111-111111111111'
        - _headingText = 'Thank you for disputing your private student debt.'

    h4.pb2= _headingText

    // ul.AvatarList
    //   li: img(src="/images/temp/avatars/01.jpg" width="50" height="50")
    // hr.mb3

    .flex
      div.flex.items-center
        svg(width="40" height="40"): use(xlink:href="#svg-clock")
      .pl2
        .-caption.-ttu.-neutral-mid Status
        h4.-primary.-ttu= dispute.statuses[0].status

    hr.my2

    .clearfix.mxn2
      .col.md-col-4.col-12.p2
        .rounded.pt2.pr2.pb3.pl2.-bg-white.-dark
          h3.pb4= dispute.disputeTool.name
          .flex.items-center.pb1
            div: svg.-primary(width="46" height="56"): use(xlink:href="#svg-fingerprint")
            .pl2.-ff-sec
              - var _formData = dispute.data.forms && dispute.data.forms['personal-information-form'] || {}
              .-fw-700= _formData && _formData.name || ''

      .col.md-col-8.col-12.px2.pb2
        h2.pb3 Now what?
        .pb3.-fw-500!= dispute.disputeTool.data.nowWhat

        if dispute.data.disputeConfirmFollowUp
          // table.mb3.-fw
          //   thead.left-align
          //     tr
          //       th status
          //       th comment
          //       th date
          //   tbody
          //     each status in dispute.statuses
          //       tr
          //         td= status.status
          //         td= status.comment
          //         td= new Date(status.createdAt).toDateString()

          .Dispute__FollowUp__CommentBox.p2.rounded.-dark
            form(
              action=routeMappings.Disputes.update.url(dispute.id)
              method="post"
              data-component-form="dispute-comment"
            )
              input(name="_csrf" type="hidden" value=csrfToken)
              input(name="_method" type="hidden" value="PUT")

              h3.mt1.pb2 Got a reply?
              p.pb1.-fw-700 We prompt you to notify us when you get a reply from the Department
              p.pb2.-fw-500.-caption We follow very closely what happens with these disputes so that we can find out which creditors are not breaking the law.
              textarea.block.mb2.-k-input.-ff-sec.-fw(
                name="comment"
                rows="3"
                placeholder='Briefly describe the response you got…'
              )
              button.-fw.-k-btn.btn-primary.-fw-700(
                type="submit"
              ) I already get a notification

  unless dispute.data.disputeConfirmFollowUp
    .-k-popover.-bottom-right.-success.absolute(data-component-popover="dispute-completed" aria-hidden="true" style="width: 290px;")
      .-k-popover-wrapper
        .-k-popover__arrow
        .-k-popover-body.p2.pr4
          button.btn-clear.-k-popover__close(aria-label="close")
            svg(width="13" height="13")
              use(xlink:href="#svg-close")
          .-dark.-fw-700 Access your filled tools
          p.-fw-500 You can follow up your tools anytime through your Profile

