include ../../mixins/dispute-tools/form-element

.max-width-3.mx-auto(data-component-form="dispute-personal-information")
  form.dispute-tool.px2(
    action= (isAdmin ? routeMappings.Admin : routeMappings).Disputes.updateDisputeData.url(dispute.id)
    method="post"
  )
    input(name="_method" type="hidden" value="PUT")
    input(type="hidden" name="command" value="setForm")
    input(type="hidden" name="formName" value=step.name)

    -
      var _formData = {};
      if (dispute.data.forms && dispute.data.forms[step.name]) {
        _formData = dispute.data.forms[step.name]
      } else if (dispute.data._forms && dispute.data._forms[step.name]) {
        _formData = dispute.data._forms[step.name]
      }

    if isAdmin
      h3.pt3.center Editing
      h3.max-width-2.mx-auto.center= dispute.disputeTool.readableName + ' Form'
      h4.pt3.center= dispute.user.name
      h4.pb3.center= dispute.user.username
    else
      h3.pb2#modalToolPersonalInfoFormTitle= dispute.disputeTool.name

    each sets, i in step.fieldSets
      .pt2.pr3.pl3.pb2.mb2.-bg-forms
        fieldset
          h4= sets.title
          p.-fw-600!= sets.subtitle

          if sets.yesno
            +_toolsYesNoMixin(sets)

          hr.my2

          if sets.fields
            fieldset
              each row, j in sets.fields
                .clearfix.mxn2
                  each field, k in row
                    +toolsFormElementMixin(field, i + j + k)

    if isAdmin
      .col.md-col-6.pt1.pb3.px2: a.-k-btn.btn-dark.-fw.-fw-600(href= routeMappings.Admin.Disputes.url()) Cancel
      .col.md-col-6.pt1.pb3.px2: button.-k-btn.btn-primary.-fw.-fw-600(type="submit") Submit
    else
      .pt1.pb3: button.-k-btn.btn-primary.-fw.-fw-600(type="submit") Submit
