if dispute.disputeTool.data.signature
  .Dispute__step-content(
    data-dispute-signature
    aria-hidden= (currentSection !== 'signature').toString()
  )
    form(
      action=routeMappings.Disputes.setSignature.url(dispute.id)
      method="post"
    )
      input(type="hidden" name="_csrf" value=csrfToken)
      input(name="_method" type="hidden" value="PUT")

      .p3.-bg-neutral-dark
        h4.pb1 You’re amazing. Time to finalize your dispute.
        p.pb1.-ff-sec You are ready to dispute your #{dispute.disputeTool.name} with the Department of Education.
        hr.my2
        .relative.pl1.mt4
          svg.absolute.top-0.left-0(width="46" height="56"): use(xlink:href="#svg-fingerprint")
          .px4
            .-caption.-ttu.-fw-500(style="opacity: .5;") Signature
            h4.pb3.-fw-500
              - var _disputeProcessNumber = ~~(dispute.disputeTool.data.disputeProcess || dispute.data.disputeProcess)

              case _disputeProcessNumber
                when 1
                  span.-accent Written records
                when 2
                  span.-accent In-person hearing
                when 3
                  span.-accent Telephone hearing

            .-h4.-ff-sec= dispute.disputeTool.data.signature

            .clearfix.mxn2.pt4
              .col.sm-col-2.col-12.pb1.px2: p.pt1.-fw-500 Full name
              .col.sm-col-10.col-12.pb1.px2
                input.-k-input.-fw(type="text" name="signature" value=dispute.data.signature)
                p(class="-on-error -danger -caption -fw-500 mt1") ▲ You must write your full name to submit your dispute

      .py3: button.-k-btn.btn-primary.-fw.-fw-700.-ttu(type="submit") Submit my dispute
