-
  var _toolSteps = [
    'Let’s get this dispute started!',
    'Gather information',
    'Dispute process',
    'Signature',
    'Follow up'
  ]

mixin toolsSidebarMixin(disputeTool, currentStep = 1)
  .Tool__sidebar
    h4.pb1.-ttu.-h-sec.-accent
      span
        | #{disputeTool.name}
    p.pb4.-caption.-ttu.-fw-500
      | #{disputeTool.completed} People Filled
    ul.list-reset.Tool__sidebar-steps
      each step, index in _toolSteps
        - var _index = index + 1
        li.relative.pb2.-fw-700(
          class=currentStep === _index && '-accent'
          class=currentStep < _index && '-neutral-mid'
        )
          if currentStep === _index
            svg(width="14" height="14"): use(xlink:href="#svg-arrow-forward")
          if currentStep > _index
            svg(width="14" height="10"): use(xlink:href="#svg-checkmark")
          | #{step}
  | &nbsp;
