.max-width-1.mx-auto(data-component-form='dispute-add-status')
  #manage-assigned-admin-vue
  h3#modalAddStatusTitle.pb3 Edit Dispute Status
  .flex.items-center.pb3
    img#js-user-avatar(
      src='/images/profile/placeholder-small.png'
      width='50'
    )
    .pl2.overflow-hidden
      h4.-fw-600.-ell#js-user-name ${dispute.user.name}
      p.-fw-500.-ell#js-dispute-name ${dispute.disputeTool.name}

  form#js-status-form(method='post' action='')
    input(name='_method' type='hidden' value='PUT')
    .pb2
      div
        select.form-control.-fw-600.-fw#js-status-select(name='status')
          option(value='' disabled hidden) Status
          each status in statuses
            if status !== 'User Update'
              option(value= status)= status
      p(class='-on-error -danger -caption -fw-500 mt1')

    .pb2
      textarea.form-control.block.-fw(
        name='note'
        rows='5'
        placeholder='Note for Admins'
      )
      p(class='-on-error -danger -caption -fw-500 mt1')

    button.-fw.-k-btn.btn-primary.-fw-600.mt1(type='submit') Send

    a.-fw.-k-btn.btn-secondary.-fw-600.mt1#js-dispute-thread-link(href='#' data-discourse-base-url=discourseEndpoint target='_blank' rel='noopener noreferrer')
      | Open Discourse Dispute Thread

  .pt4.pb4#js-statuses-wrapper
