extends ../../layouts/admin.pug

block title
  | Admin/Campaigns/edit — The Debt Collective

block styles
  link(href="/build/stylesheets/admin/campaigns/edit.css" rel="stylesheet")

block content
  .px2.pb4
    .max-width-1.mx-auto

      h2.pt4 Edit Campaign
      h4.pb3= campaign.title

      form(
        method='post'
        action= routeMappings.Admin.Campaigns.update.url(campaign.id)
      )
        input(type='hidden' name='_csrf' value=csrfToken)
        input(name='_method' type='hidden' value='PUT')

        .py1
          label.block.pb1.-fw-500 Collective
          .-k-select.-border-neutral-mid
              select.-fw(name='collectiveId' required)
                option(value='') Collective
                each collective in collectives
                  option(
                    value= collective.id
                    selected!= campaign.collectiveId === collective.id
                  )= collective.name
          p(class="-on-error -danger -caption -fw-500 mt1")

        .py1
          label.block.pb1.-fw-500 Title
          input.-k-input.-fw.-border-neutral-mid(
            type='text'
            name='title'
            required
            value=campaign.title
          )
          p(class="-on-error -danger -caption -fw-500 mt1")

        .py1
          label.block.pb1.-fw-500 Description
          textarea.-k-input.-fw.-ff-sec.-border-neutral-mid(
            name='description'
            rows='4'
          ) #{campaign.description}

        .py1
          input(
            type='checkbox'
            name='active'
            value='true'
            id='campaign-active'
            checked= campaign.active
          )
          label.pl1(for='campaign-active') Active

        .pt3
          button.-k-btn.btn-primary.-fw.-fw-700(type="submit") Update

