div(
  data-dispute-follow-up
  class= currentSection !== 'follow-up' && 'hide'
)
  .p3
    - var _headingText = `Thank you for disputing ${dispute.disputeTool.name}`;
    case dispute.disputeTool.id
      // General Debt Dispute Letter
      when '11111111-1111-3333-1111-111111111111'
        - _headingText = 'Thank you for disputing your debt.'
      when '11111111-1111-6666-1111-111111111111'
        - _headingText = 'Thank you for disputing your private student debt.'

    h4.pb2= _headingText

    // ul.AvatarList
    //   li: img(src="/images/temp/avatars/01.jpg" width="50" height="50")
    // hr.mb3

    .flex
      div.flex.items-center
        svg(width="40" height="40"): use(xlink:href="#svg-clock")
      .pl2
        .-caption.-ttu.-neutral-mid Status
        h4.-primary.-ttu= dispute.statuses[0].status

    hr.my2

    .clearfix.mxn2
      .col.md-col-4.col-12.p2
        .rounded.pt2.pr2.pb3.pl2.-bg-white.-dark
          h3.pb4= dispute.disputeTool.name
          .flex.items-center.pb1
            div: svg.-primary(width="46" height="56"): use(xlink:href="#svg-fingerprint")
            .pl2.-ff-sec
              .-fw-700 #{currentUser && currentUser.account.fullname || ''}

      .col.md-col-8.col-12.p2
        h2.pb3 Now what?
        .pb3.-fw-500!= dispute.disputeTool.data.nowWhat
