-
  var wikiURL = "http://wiki.debtcollective.org"
  var repoURL = "https://github.com/debtcollective/"
  var twitterAccountURL = "https://twitter.com/0debtzone"
  var facebookAccountURL = "https://www.facebook.com/DebtCollective"
  var powerReportURL = "https://powerreport.debtcollective.org"

  var columns = [
    {
      header: 'Organize',
      links: [
        { name: 'Collectives', href: config.discourse.baseUrl },
        { name: 'Campaigns', href: config.discourse.baseUrl },
      ]
    },
    {
      header: 'Take Action',
      links: [
        { name: 'Events', href: `${config.discourse.baseUrl}/calendar` },
        { name: 'Dispute your debt', href: '/' },
      ]
    },
    {
      header: 'Learn',
      links: [
        { name: 'The Power Report', href: powerReportURL },
        { name: 'About Us', href: `${config.landingPageURL}/#about`  },
        { name: 'Community Wiki', href: wikiURL }
      ]
    },
    {
      header: 'More',
      links: [
        { name: 'Contact', href: routeMappings.contact.url() },
        { name: 'Donate', href: '/#donate', class: 'js-donate' },
        { name: 'Open Source', href: repoURL }
      ]
    }
  ]

footer.mx-auto.px2
  .max-width-4.pt1
    .clearfix.mxn1
      each column in columns
        .col.md-col-3.col-3.p1.pt3
          .-text-2.-ttu.-fw-600= column.header
          ul.list-reset
            each link in column.links
              - var isExternal = link.href[0] !== '/'
              li.pr3.py1
                a(
                  href=link.href
                  class="-white -fw-600 " + (link.class || '')
                  rel= isExternal ? "noopener noreferrer" : ''
                  target= isExternal ? "_blank" : ''
                )= link.name

  .max-width-4.mt3
    .clearfix.mxn1
      .flex.items-center.justify-start
        a.mr1.block(href=routeMappings.root.url())
          img.logo(src= logo.secondary)
          .sr-only The Collective Homepage

        span.mr2.-neutral-mid © #{new Date().getFullYear()}

        a(href=`${config.discourse.baseUrl}/tos` class="-white") Terms and Conditions
