-
  var wikiURL = "http://wiki.debtcollective.org"
  var repoURL = "https://gitlab.com/empathia/debtcollective/"
  var twitterAccountURL = "https://twitter.com/0debtzone"
  var facebookAccountURL = "https://www.facebook.com/DebtCollective"

footer.wrapper.mx-auto.px2
  .max-width-4.mx-auto.py3
    .clearfix.mxn1
      .col.md-col-10.col-12.p1
        ul.list-reset
          li.inline-block.pr3
            a(href=routeMappings.about.url() class="-white -fw-500") About
          li.inline-block.pr3
            a(href=wikiURL class="-white -fw-500" rel="noopener noreferrer" target="_blank") Community Wiki
          li.inline-block.pr3
            a(href=repoURL class="-white -fw-500" rel="noopener noreferrer" target="_blank") Open Source
          li.inline-block.pr3
            a(class="-white -fw-500") Contact

      .col.md-col-2.col-12.p1.right-align.md-left-align
        ul.list-reset
          li.inline-block.pr3
            a(href=twitterAccountURL class="-white" rel="noopener noreferrer" target="_blank")
              svg(width="13" height="11"): use(xlink:href="#svg-twitter")
              .sr-only Twitter
          li.inline-block
            a(href=facebookAccountURL class="-white" rel="noopener noreferrer" target="_blank")
              svg(width="6" height="13"): use(xlink:href="#svg-facebook")
              .sr-only Facebook

  .max-width-4.mx-auto.pb2
    .clearfix.mxn1
      .col.md-col-9.col-12.p1.-caption.-fw-500
        a.inline-block.mr2(href=routeMappings.root.url())
          svg(width="64" height="31"): use(xlink:href="#svg-logo")
          .sr-only The Collective Homepage
        span.-neutral-mid The Debt Collective. Copyright #{new Date().getFullYear()}
        span.px2 •
        a(href=routeMappings.tos.url() class="-white") Terms and Conditions

      .col.md-col-3.col-12.p1.right-align.md-left-align
        img(
          src="/images/global/footer/shuttleworth-logo.jpg"
          srcset="/images/global/footer/shuttleworth-logo@2x.jpg"
          title="Shuttleworth Funded"
          width="170"
          height="44"
        )
