#debt-collective-header
  -
    var siteUrl = config.siteURL;
    var discourseUrl = config.discourse.baseUrl;
    var landingUrl = config.landingPageURL
    var memberHubUrl = config.landingPageURL + "/hub"
    var donateUrl = config.landingPageURL + "/donate"
    var logoUrl = "https://cdn.jsdelivr.net/npm/@debtcollective/dc-header-component@2.1.4/dist/header/assets/logo.png"
    var logoSmallUrl = "https://cdn.jsdelivr.net/npm/@debtcollective/dc-header-component@2.1.4/dist/header/assets/logo-small.png"
    var headerLinks = [
      {
        href: '/disputes/my',
        text: 'My Disputes'
      },
      {
        href: '/debt-union',
        text: 'Join the Union'
      },
      {
        href: 'https://community.debtcollective.org/',
        text: 'Community',
        target: '_blank'
      },
      {
        href: 'https://teespring.com/stores/debt-collective',
        text: 'Store',
        target: '_blank'
      },
    ];

    if (isAdmin) {
      headerLinks.unshift({
        href: '/admin/disputes',
        text: 'Admin'
      })
    }

  dc-header(
    id="dc-header"
    logo=logoUrl
    logosmall=logoSmallUrl
    host=siteUrl
    memberhuburl=memberHubUrl
    community=discourseUrl
    donateurl=donateUrl
    links=headerLinks
  )
