doctype html
html(lang="en")

  head
    meta(name="viewport" content="initial-scale=1.0")
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(name="csrf-token" content=csrfToken)
    link(rel="icon" type="image/png" href="/images/favicon.png")

    title
      block title
        | The Debt Collective

    script(src=`https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.${NODE_ENV === 'production' ? 'min.' : ''}js`)
    link(rel='stylesheet' href='https://s3.amazonaws.com/tds-static/css/dc-vue-header/0.0.1/index.min.css')
    script(src='https://s3.amazonaws.com/tds-static/js/dc-vue-header/0.0.1/index.min.js')
    script.
      Vue.component(DebtCollectiveHeader.name, DebtCollectiveHeader)

    link(rel="stylesheet" href="/build/admin.css")

  body.-is-admin
    include ../includes/svg/sprite.svg

    main(aria-hidden="false" role="main")
      if errors || error || flash
        .AlertWrapper
          if errors || error
            .Alert.wrapper.center.-fw-500.-error
              button.Alert__close(aria-label="close")
                svg: use(xlink:href="#svg-close")
              p= error
              if errors
                each val in errors
                  p= val
          if flash
            each val, key in flash
              .Alert.wrapper.center.-fw-500(class=`-${key}`)
                button.Alert__close(aria-label="close")
                  svg: use(xlink:href="#svg-close")
                p= val

      include ../includes/header
      block content

    block body

    script(src='/build/shared.js')
    script(src='/build/admin.js')
    include ../mixins/utils
    block scripts
