doctype html
html(lang="en")

  head
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
    meta(charset="UTF-8")
    meta(name="csrf-token" content=csrfToken)
    link(rel="icon" type="image/png" href="/images/favicon.png")

    title
      block title
        | The Debt Collective

    include ../includes/analytics

    // header
    link(rel='stylesheet' href='https://fonts.googleapis.com/icon?family=Material+Icons')
    script(
      src='https://cdn.jsdelivr.net/npm/@debtcollective/dc-header-component@latest/dist/header/header.esm.js'
      type='module'
    )
    script(
      src='https://cdn.jsdelivr.net/npm/@debtcollective/dc-header-component@latest/dist/header/header.esm.js'
      type='nomodule'
    )

    script(
      src="https://browser.sentry-cdn.com/5.24.2/bundle.min.js"
      integrity="sha384-8x1Z8KjWCA4KJ7mh5cTEtm1Jngg4yEZDYTAU3A4HfHdtaiCYba4cCuJDHQ3zc2Qe"
      crossorigin="anonymous"
    )
    script(src=`https://cdn.jsdelivr.net/npm/vue@2.5.21/dist/vue.${NODE_ENV === 'production' ? 'min.' : ''}js`)


    link(rel="stylesheet" href="/build/admin.css")

  body.-is-admin
    include ../includes/svg/sprite.svg

    main(aria-hidden="false" role="main")
      if errors || error || flash
        .AlertWrapper
          if errors || error
            .Alert.wrapper.center.-fw-500.-error
              button.Alert__close(aria-label="close")
                svg: use(xlink:href="#svg-close")
              p= error
              if errors
                each val in errors
                  p= val
          if flash
            each val, key in flash
              .Alert.wrapper.center.-fw-500(class=`-${key}`)
                button.Alert__close(aria-label="close")
                  svg: use(xlink:href="#svg-close")
                p= val

      include ../includes/header
      block content

    block body

    script.
      Sentry.init({dsn: '!{config.sentryEndpoint}', environment: '!{config.environment}'});
    script(src='/build/shared.js')
    script(src='/build/admin.js')

    include ../mixins/utils

    block scripts
