doctype html
html(lang='en')

  head
    meta(charset='UTF-8')
    meta(name='csrf-token' content=csrfToken)
    meta(name='keywords' content='Debt,Student loans,Everest,Corinthian,Student Debt,Medical Debt,Credit Card Debt,Mortgage Debt,Bankruptcy,Debt discharge,Debt cancellation,Erase my debt,Jubilee,Strike Debt,Confused about debt,Rolling Jubilee,Interest rates,Principle reduction,What happens if I don’t pay my debt?,Judgement Debt,Bad Credit,Credit Score,Credit Report,Credit Reporting Agencies,Can’t Pay My Debt,Debt strike,Debt union,Credit cards,Fair credit,Wages garnished,Consumer rights,Strike creditors,Debt refusal,Debt resistance,Debt Help')
    meta(name='description' content='We are debtors and allies organizing to renegotiate and resist our debts. Alone, our debts are a burden. Together, they make us powerful.')

    meta(name='apple-mobile-web-app-capable' content='yes')
    meta(name='apple-mobile-web-app-status-bar-style' content='black')
    meta(name='apple-mobile-web-app-title' content='The Debt Collective')
    meta(name='format-detection' content='telephone=no')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    each size in [57, 76, 120, 152, 180]
      link(rel='apple-touch-icon' sizes=`${size}x${size}` href=`/images/social/apple-icon-${size}.png`)

    link(rel='icon' type='image/png' href='https://s3.amazonaws.com/tds-static/img/debtcollective/0.0.1/favicon.png')

    title
      block title
        | The Debt Collective

    link(rel='stylesheet' href='/build/index.css')
    link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Space+Mono')

    script(src='https://browser.sentry-cdn.com/4.5.0/bundle.min.js' crossorigin='anonymous')
    script(src=`https://cdn.jsdelivr.net/npm/vue@2.5.21/dist/vue.${NODE_ENV === 'production' ? 'min.' : ''}js`)
    link(rel='stylesheet' href='https://s3.amazonaws.com/tds-static/css/dc-vue-header/0.0.1/index.min.css')
    script(src='https://s3.amazonaws.com/tds-static/js/dc-vue-header/0.0.1/index.min.js')
    script.
      Vue.component(DebtCollectiveHeader.name, DebtCollectiveHeader)

  body
    include ../includes/svg/sprite.svg
    include ../includes/header
    main(aria-hidden='false' role='main')
      if errors || error || flash
        .AlertWrapper
          if errors || error
            .Alert.wrapper.center.-fw-500.-error
              button.Alert__close(aria-label='close')
                svg: use(xlink:href='#svg-close')
              p= error
              if errors
                each val in errors
                  p= val
          if flash
            each val, key in flash
              .Alert.wrapper.center.-fw-500(class=`-${key}`)
                button.Alert__close(aria-label='close')
                  svg: use(xlink:href='#svg-close')
                p!= val

      block content
      include ../includes/footer

    block body

    script.
      Sentry.init({
        dsn: '!{config.sentryEndpoint}',
        environment: '!{config.environment}'
      });

    script(src='/build/shared.js')
    script(src='/build/index.js')

    include ../mixins/utils.pug

    block scripts
