extends ../../../layouts/admin.pug

block title
  | Admin/Campaigns/Event/edit — The Debt Collective

block styles
  link(href='/build/stylesheets/admin/campaigns/new.css' rel='stylesheet')

block content
  .px2.pb4
    .max-width-1.mx-auto

      h2.pt4.pb3 Edit Event
      h4= campaign.collective.name
      h4.pb3 Campaign: #{campaign.title}

      #edit-event-vue

block scripts
  script(src=`https://maps.googleapis.com/maps/api/js?key=${CONFIG.env().GoogleMaps.key}&libraries=places`)
  script.
    window.addEventListener('load', function() {
      var options = {
        currentUser: !{JSON.stringify(UserRenderer(currentUser))},
        currentURL: !{JSON.stringify(currentURL)},
        campaign: !{JSON.stringify(campaign)},
        event: !{JSON.stringify(event)},
        gmapsKey: '!{CONFIG.env().GoogleMaps.key}'
      };
      
      new EditAdminEventsFormController(options);
    }, true);
