extends ../../../layouts/admin.pug

block title
  | Admin/Campaigns/Events/new — The Debt Collective

block styles
  link(href="/build/stylesheets/admin/campaigns/new.css" rel="stylesheet")

block content
  .px2.pb4
    .max-width-1.mx-auto

      h2.pt4.pb3 New Event
      h4= campaign.collective.name
      h4.pb3 Campaign: #{campaign.title}

      form(
        method='post'
        action=routeMappings.Admin.Campaigns.Events.create.url(campaign.id)
        data-component-form
      )
        input(type='hidden' name='_csrf' value=csrfToken)

        .py1
          label.block.pb1.-fw-500 Name
          input.-k-input.-fw.-border-neutral-mid(
            type='text'
            name='name'
          )
          p(class="-on-error -danger -caption -fw-500 mt1")

        .py1
          label.block.pb1.-fw-500 Date
          input.-k-input.-fw.-border-neutral-mid(
            type='date'
            name='date'
          )
          p(class="-on-error -danger -caption -fw-500 mt1")

        .py1
          label.block.pb1.-fw-500 Map URL
          input.-k-input.-fw.-border-neutral-mid(
            type='text'
            name='map_url'
          )
          p(class="-on-error -danger -caption -fw-500 mt1")

        .py1
          label.block.pb1.-fw-500 Description
          textarea.-k-textarea.-fw.-ff-sec.-border-neutral-mid(
            name='description'
            rows='6'
          )
          p(class="-on-error -danger -caption -fw-500 mt1")

        .py1
          label.block.pb1.-fw-500 Location Name
          input.-k-input.-fw.-border-neutral-mid(
            type='text'
            name='location_name'
          )
          p(class="-on-error -danger -caption -fw-500 mt1")

        .pt3
          button.-k-btn.btn-primary.-fw.-fw-700(type="submit") Create

