extends ../../layouts/admin.pug

block title
  | Admin — The Debt Collective

block styles
  link(href="/build/stylesheets/admin/index.css" rel="stylesheet")

block content
  -
    var _statuses = [
      {
        name: 'Incomplete',
        id: "1"
      },
      {
        name: 'Completed',
        id: "2"
      },
      {
        name: 'In review',
        id: "3"
      },
      {
        name: 'Documents sent',
        id: "4"
      },
      {
        name: 'Update',
        id: "5"
      }
    ]

    var _tools = [
      {
        name: 'Tax Offset Dispute',
        id: "1"
      },
      {
        name: 'Credit Report Dispute Letter',
        id: "2"
      },
      {
        name: 'Defense to Repayment application',
        id: "3"
      },
      {
        name: 'Private Student Loan Dispute Letter',
        id: "4"
      },
      {
        name: 'General Debt Dispute Letter',
        id: "5"
      },
      {
        name: 'Wage Garnishment Dispute',
        id: "6"
      }
    ]

  .wrapper.px2.pb3
    h2.pt4.pb2 Disputes
    table.-fw(cellpadding='0' cellspacing='0')
      thead
        tr
          th.js-search-input-parent
            .-input-group-icon
              svg(width='17' height='17'): use(xlink:href='#svg-search')
              input.-k-input.-clean.-fw-700(name="disputesListValue[search]" placeholder='Search...')
          th.js-tool-select-parent
            .-k-select.-clean
              select.-fw-700.-fw(name='disputesListValue[tools]')
                option(value="") Tools
                each tool in _tools
                  option(value= tool.id)= tool.name
          th.js-status-select-parent
            .-k-select.-clean
              select.-fw-700.-fw(name='disputesListValue[status]')
                option(value="") Status
                each status in _statuses
                  option(value= status.name)= status.name
          th.-fw-700
            button.-k-btn.btn-link.-primary.-fw-700(
              name='disputesListValue[resetFilters]'
              aria-hidden='true'
            ) Reset filters

      tbody
        each _dispute, index in disputes
          tr
            td
              .flex.items-center
                // if (_dispute.user.account.image.exists('mediumGrayscale'))
                //   img.block.-fw(src=_dispute.user.account.image.url('mediumGrayscale') alt=user.account.fullname)
                img(src='/images/profile/placeholder.png' width="50" height="50")
                p.pl2.-fw-700= _dispute.user.email
            td.-fw-500= _dispute.disputeTool.name
            td.-fw-700(
              class=`-status-${_dispute.statuses[0].status.toLowerCase().replace(/\W/g, '-')}`
            )= _dispute.statuses[0].status
            td
              button.btn-clear.p1.align-top(data-add-status)
                svg.-pen.block.align-top(width='15' height='15'): use(xlink:href='#svg-pencil')
              button.btn-clear.p1.align-top(data-add-update)
                svg.-pen.block.align-top(width='15' height='15'): use(xlink:href='#svg-comment')

              if _dispute.data.signature
                a.btn-clear.-primary.p1.align-top.inline-block(
                  href= routeMappings.Disputes.download.url(_dispute.id)
                ): svg.-pen.block.align-top(width='14' height='17'): use(xlink:href='#svg-download')
              else
                button.btn-clear.p1.align-top(disabled)
                  svg.-pen.block.align-top(width='14' height='17'): use(xlink:href='#svg-download')

block body
  .Modal(data-component-modal="add-status" aria-hidden="true" role="dialog" aria-labelledby="modalSignupTitle" aria-describedby="modalAddStatusDesc")
    button(class="Modal__close" aria-label="close")
      svg(class="-s18"): use(xlink:href="#svg-close")
    .Modal__body(role="document")
      include ../../includes/admin/disputes/add-status-form.pug

  .Modal(data-component-modal="add-update" aria-hidden="true" role="dialog" aria-labelledby="modalSignupTitle" aria-describedby="modalAddUpdateDesc")
    button(class="Modal__close" aria-label="close")
      svg(class="-s18"): use(xlink:href="#svg-close")
    .Modal__body(role="document")
      include ../../includes/admin/disputes/add-update-form.pug

block scripts
  script(src="/build/javascripts/admin/index.js" async)
  script.
    window.addEventListener('load', function() {
      var options = {
        currentUser: !{JSON.stringify(currentUser)},
        currentURL: !{JSON.stringify(currentURL)},
        disputes: !{JSON.stringify(disputes)},
        isAdmin: true,
      };
      window.z = new ViewAdminIndex(options);
    }, true);
