extends ../../layouts/admin.pug

block title
  | Admin/Disputes — The Debt Collective

block content
  -
    var queryName = headers.query && headers.query.name;
    var queryFilters = headers.query && headers.query.filters
    var queryStatus = headers.query && headers.query.status
    var queryOrder = headers.query && headers.query.order
    const findDisplayName = function (forms) {
      // find the name to display in the form data, which will be the debtor's name unless
      // a parent who is disputing a student's debt has not filled in the student's name.
      // in that case, it will return the parent's name
      var displayName = "";
      if (forms["personal-information-form"]) {
        name_keys = ["atb-student-name", "atbd-student-name", "fc-student-name", "name"]
        name_keys.forEach(key => {
          if (displayName === "" && forms["personal-information-form"][key]) {
            displayName = forms["personal-information-form"][key]
          }
        })
      }
      return displayName;
    };

  .wrapper.px2.pb3
    h2.pt4.pb2.flex.justify-between.items-end
      span Disputes
      #assigned-to-me-button.flex(data-current-user-id=currentUser.id)
    table.-fw(cellpadding='0' cellspacing='0')
      thead
        tr
          th(style="width: 25%")
            .-input-group-icon
              svg(width='18' height='18'): use(xlink:href='#svg-search')
              input.form-control.-clean.-fw-600(
                name="disputesListValue[search]"
                placeholder='Query'
                value= queryName
              )
          th
            .-input
              input.form-control.-clean.-fw-600(
                name='disputesListValue[readableId]'
                placeholder='ID'
                type="number"
                value= queryFilters && queryFilters.readable_id
                style="width: 8em"
              )
          th(style="width: 15%")
            .-k-select.-clean
              select.-fw-600.-fw(name='disputesListValue[tools]')
                option(value="") Tools
                each tool in disputeTools
                  option(
                    value= tool.id
                    selected= queryFilters && queryFilters.dispute_tool_id === tool.id
                  )= tool.name
          th(style="width: 12%")
            .-k-select.-clean
              select.-fw-600.-fw(name='disputesListValue[status]')
                option(value="") Status
                each status in statuses
                  option(
                    value= status
                    selected= queryStatus === status
                  )= status
          th
            .-k-select.-clean
              select.-fw-600.-fw(name='disputesListValue[order]')
                option(value="") Date
                option(
                  value='created_at'
                  selected= queryOrder === 'created_at'
                )= 'ASC'
                option(
                  value='-created_at'
                  selected= queryOrder === '-created_at'
                )= 'DESC'

          th.-wsnw
            button.-k-btn.btn-primary.-fw-600(
              name='disputesListValue[applyFilters]'
              disabled= true
            ) Apply
            button.-k-btn.btn-link(
              name='disputesListValue[resetFilters]'
              disabled= !queryName && (!queryFilters || !queryFilters.dispute_tool_id) && !queryStatus && !queryOrder
            ) Reset

      tbody
        each _dispute in disputes
          -
            var username = _dispute.user.username;
            var discourseUrl = config.discourse.baseUrl;
            var profileUrl = `${discourseUrl}/u/${username}`;

            _dispute.user.imageURL = '/images/profile/placeholder-small.png';
            if (_dispute.user.avatarUrl) {
              _dispute.user.imageURL = _dispute.user.avatarUrl;
            }

            var displayName = "No Name"
            if (_dispute.data.forms) {
              displayName = findDisplayName(_dispute.data.forms);
            } else if (_dispute.data._forms) {
              displayName = findDisplayName(_dispute.data._forms);
            }
          tr
            td
              .flex.items-center
                a(href=profileUrl target="_blank" title=username class="profile-link")
                  img(src=_dispute.user.imageURL width="50" height="50")
                .pl2.-fw-600= displayName
            td.-fw-400
              | #{_dispute.readableId}
            td.-fw-500
              | #{_dispute.disputeTool.name}
              if _dispute.data.option !== 'none'
                |  / #{_dispute.data.option}
            td.-fw-600(
              class=`-status-${_dispute.status.toLowerCase().replace(/\W/g, '-')}`
            )
              span=_dispute.status
              small(class=`${_dispute.pendingSubmission ? 'Tag': ''} ml2` title=`${_dispute.pendingSubmission ? 'TDC mailed' : ''}`)=`${(_dispute.pendingSubmission ? 'attention':  '')}`
            td.-fw-500.-wsnw= new Date(_dispute.createdAt).toDateString()
            td.center.flex.pt2
              button.mr2.btn-clear.p1.align-top(data-show title="View")
                svg.-pen.block.align-top(width='15' height='15'): use(xlink:href='#svg-external')
              button.mr2.btn-clear.p1.align-top(data-add-status title="Edit")
                svg.-pen.block.align-top(width='15' height='15'): use(xlink:href='#svg-pencil')

              if _dispute.data.signature
                a.btn-clear.-primary.p1.align-top.inline-block(
                  href=routeMappings.Disputes.download.url(_dispute.id)
                  title="Download"
                ): svg.-pen.block.align-top(width='14' height='17'): use(xlink:href='#svg-download')
              else
                 button.btn-clear.p1.align-top.-download-disabled(disabled)
                  svg.-pen.block.align-top(width='14' height='17'): use(xlink:href='#svg-download')

              form.ml2.inline-block(
                action=routeMappings.Admin.Disputes.destroy.url(_dispute.id)
                method="post"
                data-component-form="deactivate-dispute"
              )
                input(name="_csrf" type="hidden" value=csrfToken)
                input(type="hidden" name="_method" value="DELETE")
                button.btn-clear.p1(
                  type="submit"
                  title="Delete"
                  data-deactivate-dispute
                )
                  svg.-pen.block.align-top(width='14' height='18'): use(xlink:href='#svg-trash')
        else
          tr
            td(colspan=6 class="text-center")
              | No Results





    include ../../mixins/pagination
    +mixinPagination(headers.current_page, headers.total_pages)(class='pt3')

block body
  .Modal(data-component-modal="show-dispute" aria-hidden="true" role="dialog" aria-labelledby="modalDisputeTitle")
    button(class="Modal__close" aria-label="close")
      svg(class="-s18"): use(xlink:href="#svg-close")
    .Modal__body(role="document")
      .px2.flex(data-component-form='show-dispute')
        div(data-dispute-row)
        div(data-dispute-wrapper)
        div(data-attachment-list)

  .Modal(data-component-modal="add-status" aria-hidden="true" role="dialog" aria-labelledby="modalDisputeTitle")
    button(class="Modal__close" aria-label="close")
      svg(class="-s18"): use(xlink:href="#svg-close")
    .Modal__body(role="document")
      .px2.flex
        include ../../includes/admin/disputes/add-status-form.pug

block scripts
  script.
    window.addEventListener('load', function() {
      var options = {
        currentUser: !{JSON.stringify(UserRenderer(currentUser))},
        currentURL: !{JSON.stringify(currentURL)},
        disputes: !{JSON.stringify(disputes)},
        isAdmin: true,
      };

      //- If class is not available is likely that something wrong happen with build process
      if (window.ViewAdminDisputesIndex) {
        new ViewAdminDisputesIndex(options);
      } else {
        const message = 'ViewAdminDisputesIndex class is not available';
        console.warn(message);
        window.Sentry && Sentry.captureMessage(message);
      }
    }, true);
