extends ../layouts/application.pug

block title
  | My Disputes — The Debt Collective

block content
  .ProfileWrapper.wrapper.py4.px2.flex.items-center.relative
    .max-width-3.mx-auto.relative.-fw
      .clearfix
        .dispute-list-container.flex.flex-column.p3
          if disputes.length > 0
            .-bg-neutral-dark.p2
              .col.col-12.mb2
                h4 My disputes
              div.dispute-list
                each dispute in lodash.reverse(lodash.orderBy(disputes, d => lodash.get(lodash.head(d.statuses), 'updatedAt', d.updatedAt)))
                  - const latestStatus = lodash.head(dispute.statuses);
                  .dispute-list-item.clearfix.mb2
                    - const latestStatusType = lodash.get(latestStatus, 'status', 'incomplete');
                    .col.col-9
                      a.inline-block.w-100(href=routeMappings.Disputes.show.url(dispute.id))
                        p.-fw-600 #{dispute.readableId} - #{dispute.user.name} - #{dispute.disputeTool.readableName}
                        p.-caption.-ttu.-fw-600(
                          class=`-status-${slugify(latestStatusType)}`
                        )= latestStatusType
                    .col.col-3.right-align
                      if dispute.disputeThreadId
                        a.btn-clear.-primary.p1.align-top.inline-block(
                          target="_blank"
                          href=dispute.disputeThreadLink
                          title="View messages"
                        ): svg.block.align-top(width='14' height='17'): use(xlink:href='#svg-email')
                      if dispute.data.signature
                        a.btn-clear.-primary.p1.align-top.inline-block(
                          href=routeMappings.Disputes.download.url(dispute.id)
                          title="Download documents"
                        ): svg.block.align-top(width='14' height='17'): use(xlink:href='#svg-download')
          else
            .col.sm-col-12.text-center
              hr.mb3(aria-hidden="true")
              h5 You currently do not have any disputes.
              h5.pt1 #[a(href="/dispute-tools") Click here] to begin filing your first dispute.

block scripts
  script.
    window.addEventListener('load', function() {
      var options = {
        currentUser: !{JSON.stringify(UserRenderer(currentUser))},
        currentURL: !{JSON.stringify(currentURL)},
      };

      new ViewDefault(options);
    }, true);
