extends ../layouts/application.pug

block title
  | My Disputes — The Debt Collective

block content
  .ProfileWrapper.wrapper.py4.px2.flex.items-center.relative
    .max-width-3.mx-auto.relative.-fw
      .clearfix
        .dispute-list-container.flex.flex-column.p3
          if disputes.length > 0
            .my-disputes-header.mb2
              .col.col-6
                h4 My disputes
              .col.col-6.text-right
                a.-k-btn.btn-primary.btn-sm.-fw-600(href= routeMappings.root.url()) New Dispute
            .-bg-neutral-dark.p2
              div.dispute-list
                each dispute, index in lodash.reverse(lodash.orderBy(disputes, d => lodash.get(lodash.head(d.statuses), 'updatedAt', d.updatedAt)))
                  - const latestStatus = lodash.head(dispute.statuses);
                  .dispute-list-item.clearfix(class=(index != disputes.length - 1 ? 'mb2' : '' ))
                    - const latestStatusType = lodash.get(latestStatus, 'status', 'incomplete');
                    .col.col-9
                      a.inline-block.w-100(href=routeMappings.Disputes.show.url(dispute.id))
                        p.-fw-600
                          = `${dispute.readableId} - ${dispute.disputeTool.readableName}`
                          span.ml2.-caption.-ttu.-fw-600(
                            class=`-status-label -status-bg-${slugify(latestStatusType)}`
                          )= latestStatusType
                        p.-caption.-ttu.-fw-600.-dark
                          =dispute.creditor().name || 'No creditor information'
                    .col.col-3.right-align
                      if dispute.disputeThreadId
                        a.btn-clear.-primary.p1.align-top.inline-block(
                          target="_blank"
                          href=dispute.disputeThreadLink
                          title="View messages"
                      ): svg.block.align-top(width='14' height='17'): use(xlink:href='#svg-email')
                      if dispute.data.signature
                        a.btn-clear.-primary.p1.align-top.inline-block(
                          href=routeMappings.Disputes.download.url(dispute.id)
                          title="Download documents"
                        ): svg.block.align-top(width='14' height='17'): use(xlink:href='#svg-download')
          else
            .col.sm-col-12.text-center
              hr.mb3(aria-hidden="true")
              h5 You currently do not have any disputes.
              a.-k-btn.btn-primary.btn-sm.-fw-600(href= routeMappings.root.url()) New Dispute

block scripts
  script.
    window.addEventListener('load', function() {
      var options = {
        currentUser: !{JSON.stringify(UserRenderer(currentUser))},
        currentURL: !{JSON.stringify(currentURL)},
      };

      //- If class is not available is likely that something wrong happen with build process
      if (window.ViewDefault) {
        new ViewDefault(options);
      } else {
        const message = 'ViewDefault class is not available';
        console.warn(message);
        window.Sentry && Sentry.captureMessage(message);
      }
    }, true);
