extends ../layouts/application.pug

block title
  | My Disputes — The Debt Collective


block content
  -
    var avatarUrl = CONFIG.discourse.baseUrl + currentUser.avatarTemplate.replace('{size}', '512')
    var profileUrl = CONFIG.discourse.baseUrl + `/u/${currentUser.username}`

  .ProfileWrapper.wrapper.py4.px2.flex.items-center.relative
    .max-width-3.mx-auto.relative.-fw
      .clearfix
        .Profile__image-wrapper.relative.right.sm-col-4.col-12
          img.block.-fw(src=avatarUrl)
        .col.sm-col-8.col-12
          .Profile__info-wrapper.flex.flex-column.pt3.pr3.pb2.pl3
            .flex-auto
              h3.pb2= currentUser.name
            .flex.pt4
              a(href=profileUrl class='-caption -fw-700' role='button' tabindex='0' rel="noreferrer noopener")
                svg.mr1(width='11' height='11'): use(xlink:href='#svg-external')
                | Go to my community profile

          .-bg-neutral-dark.px3.pb2
            hr.mb3
            h4.pb1.-accent My disputes
            ul.list-reset
              each dispute in disputes
                li
                  a.block.clearfix.py1.mxn1.-white(href=routeMappings.Disputes.show.url(dispute.id))
                    .col.col-8.px1
                      .-fw-700
                        | #{dispute.disputeTool.name}
                        if dispute.data.option !== 'none'
                          |  / #{dispute.data.option}
                    .col.col-4.px1.right-align
                      .pt1.-caption.-ttu.-fw-700(
                        class=`-status-${dispute.statuses[0].status.toLowerCase().replace(/\W/g, '-')}`
                      )= dispute.statuses[0].status

block scripts
  script.
    window.addEventListener('load', function() {
      var options = {
        currentUser: !{JSON.stringify(UserRenderer(currentUser))},
        currentURL: !{JSON.stringify(currentURL)},
      };

      new ViewDefault(options);
    }, true);
