extends ../layouts/application.pug

block title
  | #{campaign.title} — The Debt Collective

block styles
  link(href='/build/stylesheets/campaigns/show.css' rel='stylesheet')

block content
  .bg-light-pattern.-dark
    .px2(data-offset-section)

      .max-width-4.mx-auto(data-tabs-component)

        div(data-fixed-tabs-component)
          unless campaign.published
            .Alert.wrapper.center.-fw-500.-warning
              p This campaign is currently on Staging mode. #[a(href=routeMappings.Admin.Campaigns.edit.url(campaign.id)) Edit campaign] to make it public.
          ul.list-reset.flex.-bg-neutral-light(role='tablist')
            li.Tab.flex.flex-auto.p1.-dark(role='tab' aria-controls='panel-campaign' aria-selected='false' data-hashname='#campaign')
              .flex.items-center
                svg.-sw7.-stroke-dark(width='40' height='40')
                  use(xlink:href=`#svg-collective-${campaign.collective.id.charAt(0)}`)
              .pl2
                div
                  h4.inline-block.pr1= campaign.title
                  a.-fw-700(href=routeMappings.Collectives.show.url(campaign.collective.id))= campaign.collective.name
                p.-caption.-fw-500
                  | #{(userBelongsToCampaign ? `You + ${campaign.userCount - 1}` : campaign.userCount) + ' people joined with $10,560 USD in debt'}
                  if canCreateEvents
                    span.-fw-700.px1 •
                    a.-fw-700(href=routeMappings.Admin.Campaigns.edit.url(campaign.id)) Edit campaign

            li.Tab.flex-auto.p2.-fw-700.-dark.items-center.flex(role='tab' aria-controls='panel-resources' aria-selected='false' data-hashname='#campaign')
              .flex-auto
                | Resources
                span.right.-caption.-neutral-mid #{campaign.kbPosts.length}
            li.Tab.p2.-fw-700.-dark.flex.items-center
              div
                | Share
                ul.list-reset.inline-block.ml3
                  li.inline-block
                    a.px1.-dark(href='#' rel="noopener noreferrer" target="_blank" data-share-url-twitter)
                      svg(width="13" height="11"): use(xlink:href="#svg-twitter")
                      .sr-only Twitter
                  li.inline-block
                    a.px1.-dark(href='#' rel="noopener noreferrer" target="_blank" data-share-url-facebook)
                      svg(width="6" height="13"): use(xlink:href="#svg-facebook")
                      .sr-only Facebook

        .Campaigns_TabPanes
          section#panel-campaign.TabPane.pt3(role='tabpanel' aria-hidden='true')
            if campaign.active
              include ../includes/campaigns/active-view
            else
              include ../includes/campaigns/inactive-view

          section#panel-resources.TabPane(role='tabpanel' aria-hidden='true')
            div.SearchPanel
              form.flex(action=routeMappings.Campaigns.show.url(campaign.id) + '#resources')
                .flex-auto.pl4.pr1
                  input(type='text' name='search' placeholder='Search articles and resources relevant to this collective...')
                .flex-none
                  select(name='topicId')
                    option(value="") Topic
                    each topic in kbTopics
                      option(value=topic.id)= topic.title
                  button(type='submit') Search

            section.Masonry.pt4.mxn2
              each kbPost in campaign.kbPosts
                article.Masonry_item.px2.pb4
                  .KBPost.p3
                    form.right.inline-block(action=routeMappings.Admin.Campaigns.KBPosts.destroy.url(campaign.id, kbPost.id) method='post')
                      input(type='hidden' name='_csrf' value=csrfToken)
                      input(type='hidden' name='_backUrl' value=routeMappings.Campaigns.show.url(campaign.id) + '#resources')
                      input(type='hidden' name='_method' value=routeMappings.Admin.Campaigns.KBPosts.destroy.verb)
                      button.p1.ml2.align-top.btn-clear(type='submit')
                        svg.-sw7.-primary(width='20' height='20')
                          use(xlink:href='#svg-trash')

                    div(class=`KBPost--symbol -${kbPost.type}`)
                      if kbPost.fixedURL && kbPost.shortURL
                        a(href=kbPost.fixedURL rel='noopener noreferrer')= kbPost.shortURL

                      if kbPost.fixedWeight
                        if kbPost.type === 'image' || kbPost.isImage
                          .KBPost--size!= `${kbPost.fileMeta.original.width}&times;${kbPost.fileMeta.original.height}`
                        else
                          .KBPost--size= kbPost.fixedWeight

                    .KBPost--caption= kbPost.name
                    .KBPost--category
                      span= kbPost.topic

                    if kbPost.type === 'image' || kbPost.type === 'file'
                      a.KBPost--action(href=kbPost.fixedURL rel='noopener noreferrer')=kbPost.fixedExt

                    if kbPost.type === 'link'
                        a.KBPost--action.-mini(href=kbPost.fixedURL rel='noopener noreferrer')
                          svg.-sw7.-stroke-dark(width='20' height='20')
                            use(xlink:href='#svg-chain')

                    if kbPost.type === 'video' || kbPost.type === 'audio'
                      a.KBPost--action.-mini(href=kbPost.fixedURL rel='noopener noreferrer')
                        svg.-sw7.-stroke-dark(width='14' height='14' style='margin-top:5px')
                          use(xlink:href='#svg-play')

                    if kbPost.type === 'link' || kbPost.type === 'video'
                      .Share
                        span Spread
                        div
                          a.-twitter(href='https://twitter.com/0debtzone' rel='noopener noreferrer')
                            svg.-sw7(width='14' height='14')
                              use(xlink:href='#svg-twitter')
                          a.-facebook(href='https://www.facebook.com/DebtCollective' rel='noopener noreferrer')
                            svg.-sw7(width='14' height='14')
                              use(xlink:href='#svg-facebook')
                          a.-email(href='mailto:no-one@snai1mai1.com?subject=Share')
                            svg.-sw7(width='14' height='14')
                              use(xlink:href='#svg-email')

              article.Masonry_item.px2.mb4
                a.GridButton(
                  href=routeMappings.Admin.Campaigns.KBPosts.new.url(campaign.id)
                  title='Add new resource'
                )
                  .flex.items-center.justify-center.absolute.top-0.right-0.bottom-0.left-0
                    .GridButton--Plus +
                a.block.center.py2.-fw-700(href=routeMappings.Admin.Campaigns.KBPosts.new.url(campaign.id))
                  | Add new resource
                .border-bottom.-bw5

block scripts
  script(src='/build/javascripts/campaigns/show.js' async)
  script.
    window.addEventListener('load', function() {
      var options = {
        currentUser: !{JSON.stringify(currentUser)},
        currentURL: !{JSON.stringify(currentURL)},
        campaignId: !{JSON.stringify(campaign.id)},
        campaignTitle: !{JSON.stringify(campaign.title)},
        nextEvents: !{JSON.stringify(nextEvents)},
        googleMapsKey: !{JSON.stringify(CONFIG.env().GoogleMaps.key)},
      };
      new ViewCampaignsShow(options);
    }, true);

