div(data-component-usernewform)
  .max-width-1.mx-auto
    h3 Join us
    p.-fw-500.mb3 Alone, our debts are a burden; together, they make us powerful.

    form(method="post" action=routeMappings.Users.create.url())
      input(type="hidden" name="_csrf" value=csrfToken)

      .clearfix.mb2
        .col.col-3.pt1.pr1.right-align.-fw-500 Your name
        .col.col-9(class=errors && errors.name ? 'error' : '')
          input.-k-input.-fw(
            name="fullname"
            type="text"
            value=(_formData && _formData.fullname) || ''
          )
          p(class="-on-error -danger -caption -fw-500 mt1") ▲ Invalid name

      .clearfix.mb2
        .col.col-3.pt1.pr1.right-align.-fw-500 Location
        .col.col-9
          .col.col-6
            .-k-select(class=errors && errors.state ? 'error' : '')
              select.-fw(name="state")
                option(value="") State
                each state in stateNames
                  option(
                    value= state
                    selected!= _formData && _formData.state === state
                  )= state

            p(class="-on-error -danger -caption -fw-500 mt1") ▲ Select a state

          .col.col-6.pl1
            div(class=errors && errors.zip ? 'error' : '')
              input.-k-input.-fw(
                type="text"
                name="zip"
                value=(_formData && _formData.zip) || ''
                placeholder="ZIP"
              )
              p(class="-on-error -danger -caption -fw-500 mt1") ▲ Invalid ZIP

      .clearfix.mb2
        .col.col-3.pt1.pr1.right-align.-fw-500 Phone
        .col.col-9(class=errors && errors.phone ? 'error' : '')
          input.-k-input.-fw(
            type="tel"
            name="phone"
            value=(_formData && _formData.phone) || ''
            placeholder="Optional"
          )
          p(class="-on-error -danger -caption -fw-500 mt1") ▲ Invalid phone

      .clearfix.mb2
        .col.col-3.pt1.pr1.right-align.-fw-500 Email
        .col.col-9(class=errors && errors.email ? 'error' : '')
          input.-k-input.-fw(
            type="email"
            name="email"
            value=(_formData && _formData.email) || ''
          )
          p(class="-on-error -danger -caption -fw-500 mt1") ▲ Invalid email

      .clearfix.mb2
        .col.col-3.pt1.pr1.right-align.-fw-500 Password
        .col.col-9(class=errors && errors.password ? 'error' : '')
          input.-k-input.-fw(
            type="password"
            name="password"
          )
          p(class="-on-error -danger -caption -fw-500 mt1") ▲ Invalid password

      p.mb3.-fw-500.-caption By clicking Sign up, you agree to our #[a(href=routeMappings.tos.url()) Community Agreement], including our Cookie Use.
      button.-k-btn.btn-primary.-fw.-fw-700(type="submit") Sign up

    p.pt3.center
      span.-fw-500 I’m already a member #[a(href=routeMappings.login.url()) Log in]
