div(data-component-usernewform)
  .max-width-1.mx-auto.px2
    h3#modalSignupTitle.pb2 Join us
    p#modalSignupDesc.-fw-500.mb3 Alone, our debts are a burden; together, they make us powerful.

    form(method="post" action=routeMappings.Users.create.url())
      input(type="hidden" name="_csrf" value=csrfToken)

      .clearfix.pb2.mxn1
        .col.sm-col-4.col-12.p1.right-align.xs-left-align.-fw-500 Your name
        .col.sm-col-8.col-12.px1(class=errors && errors.fullname ? 'error' : '')
          input.-k-input.-fw(
            name="fullname"
            type="text"
            value=(_formData && _formData.fullname) || ''
          )
          p(class="-on-error -danger -caption -fw-500 mt1")

      .clearfix.pb2.mxn1
        .col.sm-col-4.col-12.p1.right-align.xs-left-align.-fw-500 Type of debt
        .col.sm-col-8.col-12.px1
          .-k-select(class=errors && errors.collectiveId ? 'error' : '')
            select.-fw(name="collectiveId")
              option(value="") Choose an option
              each collective in COLLECTIVES
                option(
                  value= collective.id
                  selected!= _formData && _formData.collectiveId === collective.id
                )= collective.name
          p(class="-on-error -danger -caption -fw-500 mt1")

      .clearfix.pb2.mxn1
        .col.sm-col-4.col-12.p1.right-align.xs-left-align.-fw-500 Location
        .col.sm-col-8.col-12.px1
          .col.col-7
            .-k-select(class=errors && errors.state ? 'error' : '')
              select.-fw(name="state")
                option(value="") State
                each state in US_STATES
                  option(
                    value= state
                    selected!= _formData && _formData.state === state
                  )= state

            p(class="-on-error -danger -caption -fw-500 mt1")

          .col.col-5.pl1
            div(class=errors && errors.zip ? 'error' : '')
              input.-k-input.-fw(
                type="text"
                name="zip"
                value=(_formData && _formData.zip) || ''
                placeholder="ZIP"
              )
              p(class="-on-error -danger -caption -fw-500 mt1")

      .clearfix.pb2.mxn1
        .col.sm-col-4.col-12.p1.right-align.xs-left-align.-fw-500 Phone
        .col.sm-col-8.col-12.px1(class=errors && errors.phone ? 'error' : '')
          input.-k-input.-fw(
            type="tel"
            name="phone"
            value=(_formData && _formData.phone) || ''
            placeholder="Optional"
          )
          p(class="-on-error -danger -caption -fw-500 mt1")

      .clearfix.pb2.mxn1
        .col.sm-col-4.col-12.p1.right-align.xs-left-align.-fw-500 Email
        .col.sm-col-8.col-12.px1(class=errors && errors.email ? 'error' : '')
          input.-k-input.-fw(
            type="email"
            name="email"
            value=(_formData && _formData.email) || ''
          )
          p(class="-on-error -danger -caption -fw-500 mt1")

      .clearfix.pb2.mxn1
        .col.sm-col-4.col-12.p1.right-align.xs-left-align.-fw-500 Password
        .col.sm-col-8.col-12.px1(class=errors && errors.password ? 'error' : '')
          input.-k-input.-fw(
            type="password"
            name="password"
          )
          p(class="-on-error -danger -caption -fw-500 mt1")

      p.mb3.-fw-500.-caption By clicking Sign up, you agree to our #[a(href=routeMappings.tos.url() target='_blank') Community Agreement], including our Cookie Use.
      button.-k-btn.btn-primary.-fw.-fw-700(type="submit") Sign up

    p.pt3.center
      span.-fw-500 I’m already a member #[a(href=routeMappings.login.url()) Log in]
