extends ./layouts/BaseEmail

block title
  div #{member.fullname} has completed a dispute

block content
  - var downloadURL = `${CONFIG.siteURL}${CONFIG.router.helpers.Disputes.download.url(dispute.id)}`
  div(style="font-size: 16px; line-height: 142%;")
    div(style="font-family: monospace; color: #000000;")
      div To download a copy of their documents, #[a(href=downloadURL style="color: #f04c34;") click here] or copy and paste the following address into your browser:
      div &nbsp;
      div #{downloadURL}
      div &nbsp;
      div &nbsp;
