extends ./layouts/BaseEmail

block title
  div Thank you for disputing your debt

block content
  - var downloadURL = `${CONFIG.siteURL}${CONFIG.router.helpers.Disputes.download.url(dispute.id)}`

  div(style="font-size: 16px; line-height: 142%;")
    div(style="font-family: sans-serif; color: #000000;")
      if dispute.disputeTool !== undefined && dispute.disputeTool.readableName === "General Debt Dispute"
        div Thank you for disputing your debt! You can download a copy of your dispute here: #[a(href=downloadURL style="color: #f04c34;") #{downloadURL}].
        div &nbsp;
        div If you opted to mail the dispute to the collector yourself, it is a good idea to send it certified mail so you can be sure it was received.
        div &nbsp;
        div If you receive a response from the collector, please log back in to the Debt Collective platform and let us know. The more information we have about how collectors are responding to these disputes the better we can organize together.
        div &nbsp;
        div Don’t hesitate to contact us if you have questions.
        div &nbsp;
        div Solidarity,
        div The Debt Collective
      else
        div To download a copy of your documents,
        div &nbsp;
        div #{downloadURL}
        div &nbsp;
        div If you opted to mail your forms yourself, here are some important addresses.
        div &nbsp;
        div IF YOUR TAXES ARE BEING SEIZED, MAIL A DISPUTE VIA CERTIFIED MAIL TO:
        div
          p
            |  US DEPARTMENT OF EDUCATION <br/>
            |  FEDERAL OFFSET UNIT <br/>
            |  PO BOX PO Box 5609 <br/>
            |  GREENVILLE, TX 75403-5227
        div &nbsp;
        div IF YOUR WAGES ARE BEING GARNISHED, MAIL A DISPUTE VIA CERTIFIED MAIL TO:
        div
          p
            |  US DEPARTMENT OF EDUCATION <br/>
            |  ATTN: AWG HEARINGS BRANCH <br/>
            |  PO BOX 5227 <br/>
            |  GREENVILLE, TX 75403-5227
        div &nbsp;
        div NOTE: If you have a FFEL loan, you should also send a copy of the dispute to your guarantor. If you do not know the name and address of your guarantor, please call the DOE hotline and ask them for the information: 1-800-621-3115.
        div &nbsp;
        div CREDIT REPORT DISPUTES SHOULD BE SENT CERTIFIED MAIL TO:
        div
          p
            |  Experian <br/>
            |  National Consumer Assistance Center <br/>
            |  P.O. Box 2002 <br/>
            |  Allen, TX 75013
        div
          p
            |  Equifax Credit Information Services, Inc. <br/>
            |  P.O. Box 740241 <br/>
            |  Atlanta, GA 30374
        div
          p
            |  TransUnion LLC <br/>
            |  Consumer Disclosure Center <br/>
            |  P.O. Box 1000 <br/>
            |  Chester, PA 19022
        div &nbsp;
        div For Private Student Loans and for General Debt Disputes, please send your dispute directly to the collector.
        div &nbsp;
        div If you have questions, please contact us.
        div &nbsp;
        div After you receive a response from the collector or agency, please log back in and report the response. The more information we have about how collectors and the federal government are responding to disputes, the better we can organize together.
        div &nbsp;
        div &nbsp;
