extends ../layouts/application.pug

block styles
  link(href="/build/stylesheets/home/index.css" rel="stylesheet")

block content

  mixin Card(collective)
    .col.md-col-6.col-12.p2
      .CollectiveCard.rounded(class= (collective.id===2) ? '-is-light' : '')
        svg.CollectiveCard__icon: use(xlink:href=`#svg-col-${collective.id}`)
        .CollectiveCard__content
          h4.CollectiveCard__title= collective.name
          p.CollectiveCard__desc.-fw-500= collective.desc
          ul.AvatarList
            li: img(src="/images/temp/avatars/01.jpg" width="50" height="50")
            li: img(src="/images/temp/avatars/02.jpg" width="50" height="50")
            li: img(src="/images/temp/avatars/03.jpg" width="50" height="50")
            li: img(src="/images/temp/avatars/04.jpg" width="50" height="50")
            li: img(src="/images/temp/avatars/05.jpg" width="50" height="50")
            li: img(src="/images/temp/avatars/06.jpg" width="50" height="50")
          if collective.isActive
            .clearfix
              .col.col-6
                p.-ff-sec #[strong= collective.total] People joined
              .col.col-6.right-align
                p.-caption.-primary.-fw-700(style="padding-top: 4px;") ◼ ACTIVE CAMPAIGN
          else
            p.-ff-sec #[strong= collective.total] People joined

  .wrapper.py4.px2
    .max-width-4.mx-auto
      .clearfix.mxn2.py4.md-flex
        .col.md-col-4.col-12.md-flex.items-center.pb3.px2
          .PlayButton.mx-auto
            .PlayButton__btn: svg: use(xlink:href="#svg-play")
            div.center.pt1.-caption 1:20

        .col.md-col-8.col-12.px2.md-center-align
          h2.mb2 Millions of people are struggling to get by.
          h4 We can't find decent jobs or we are working harder for longer hours but still can't pay for basics like food, housing, education and healthcare without being buried in #[a.underlined-link(href=routeMappings.about.url() title="About The Collective") debt.]

    .max-width-4.mx-auto.relative.py4
      img.fit(src="/images/home/you-are-not-a-loan.jpg" style="opacity: .5")
      .flex.absolute.top-0.left-0.right-0.bottom-0.items-center.justify-center.px2
        .py4
          .max-width-2.mx-auto
            h4.center Together we are creating an organization to fight back and challenge the people and institutions that are squeezing us dry. #[a.js-signup-link.underlined-link(href=routeMappings.signup.url() title="Join us") Join us.]

block scripts
  script(src="/build/javascripts/home/index.js" async)
  script.
    window.addEventListener('load', function() {
      var options = {
        currentUser: !{JSON.stringify(currentUser)},
        currentURL: !{JSON.stringify(currentURL)},
      };
      new ViewHomeIndex(options);
    }, true);
