extends ../layouts/application.pug

block title
  | ${Wage Garnishment Dispute} — The Debt Collective

block styles
  link(href="/build/stylesheets/home/tool.css" rel="stylesheet")

block content
  .wrapper.px2.py3
    .clearfix.mxn2
      .col.lg-col-3.col-12.px2
        .Tool__sidebar
          h4.pb1.-ttu.-h-sec: span(style="background-color: #FEFAC0!important;") ${Wage Garnishment Dispute}
          p.pb4.-caption.-ttu.-fw-500 ${434} People Filed
          ul.list-reset
            li.pb2.-fw-700
              svg.mr2(width="14" height="10"): use(xlink:href="#svg-checkmark")
              | 1) Let’s get this dispute started!
            li.pb2.-fw-700.-accent
              svg.mr2(width="14" height="14"): use(xlink:href="#svg-arrow-forward")
              | 2) Gather information
            li.pb2.pl3.-neutral-mid.-fw-700 3) Finalize your dispute
            li.pb2.pl3.-neutral-mid.-fw-700 4) Signature
            li.pb2.pl3.-neutral-mid.-fw-700 5) Follow up
        | &nbsp;

      .col.lg-col-9.col-12.px2
        // 1) let’s get this dispute started!
        include ../includes/tool/step-1

        // 2) gather information
        include ../includes/tool/step-2

        // 3) finalize your dispute
        include ../includes/tool/step-3

        // 4) Signature
        include ../includes/tool/step-4

        // 5) follow up
        include ../includes/tool/step-5

block append body
  .Modal(data-component-modal="tool-common-causes-of-fraud" aria-hidden="true" role="dialog" aria-labelledby="modalToolCausesOfFraudTitle")
    button(class="Modal__close" aria-label="close")
      svg(class="-s18"): use(xlink:href="#svg-close")
    .Modal__body(role="document")
      include ../includes/tool/step-1-causes-of-fraud

  .Modal(data-component-modal="tool-personal-information-form" aria-hidden="true" role="dialog" aria-labelledby="modalToolPersonalInfoFormTitle")
    button(class="Modal__close" aria-label="close")
      svg(class="-s18"): use(xlink:href="#svg-close")
    .Modal__body(role="document")
      include ../includes/tool/step-2-personal-information-form

block scripts
  script(src="/build/javascripts/home/tool.js" async)
  script.
    window.addEventListener('load', function() {
      var options = {
        currentUser: !{JSON.stringify(currentUser)},
        currentURL: !{JSON.stringify(currentURL)},
      };
      new ViewHomeTool(options);
    }, true);
