extends ../../layouts/admin.pug

block title
  | Admin/Collective/edit — The Debt Collective

block styles
  link(href="/build/stylesheets/admin/collectives/edit.css" rel="stylesheet")

block content
  .wrapper.px2.pb3
    h2.pt4.pb2 Edit Collective
    h4.pb3= collective.name

    form(
      method='post'
      action= routeMappings.Admin.Collectives.update.url(collective.id)
      enctype='multipart/form-data'
    )
      input(type='hidden' name='_csrf' value=csrfToken)
      input(name='_method' type='hidden' value='PUT')

      .py1
        label.block.pb1.-fw-500 Cover
        if collective.cover.exists('grayscale')
          img(src=collective.cover.url('grayscale') width='300')
        input(name='image' type='file' accept='image/*')

      .py1
        label.block.pb1.-fw-500 Name
        input.-border-neutral-mid.-k-input.-fw(
          type='text'
          name='name'
          value= collective.name
        )

      .py1
        label.block.pb1.-fw-500 Description
        textarea.-k-textarea.-border-neutral-mid.-fw(
          name='description'
          rows='2'
        )= collective.description

      .py1
        label.block.pb1.-fw-500 Manifest
        textarea.-k-textarea.-border-neutral-mid.-fw(
          name='manifest'
          rows='10'
        )= collective.manifest

      .py1
        label.block.pb1.-fw-500 Goal title
        input.-border-neutral-mid.-k-input.-fw(
          type='text'
          name='goalTitle'
          value= collective.goalTitle
        )

      .py1
        label.block.pb1.-fw-500 Goal
        textarea.-k-textarea.-border-neutral-mid.-fw(
          name='goal'
          rows='2'
        )= collective.goal

      .py1
        p.pb1.-fw-500 Dispute Tools
        - var toolIds = collective.tools.map(t => t.id)
        each tool in disputeTools
          div
            input(
              type='checkbox'
              name='disputeToolIds'
              value= tool.id
              id= tool.id
              checked= toolIds.includes(tool.id)
            )
            label.pl1(
              for= tool.id
            )= tool.name

      .pt3
        button.-k-btn.btn-primary.-fw-700.-fw(
          type='submit'
        ) Update “#{collective.name}”
