.clearfix.mxn2
  .col.md-col-7.col-12.px2
    if userBelongsToCampaign
      include private-feed
    else
      include public-feed

  .col.md-col-5.col-12.px2
    .-bg-white.p3
      .flex.items-center
        div.pr2
          svg.inline-block.align-top(width='60' height='72')
            use(xlink:href='#svg-no-date')

      if event
        h3= event.name
        p= event.url
        p= event.description
        p= event.locationName

        if event.imAttendee
          form.inline-block(action=routeMappings.Campaigns.Events.destroy.url(event.campaignId, event.id) method='post')
            input(type='hidden' name='_method' value=routeMappings.Campaigns.Events.destroy.verb)
            input(type='hidden' name='_destroy' value=1)
            input(type='hidden' name='_csrf' value=csrfToken)
            button.-k-btn(type='submit') Cancel RSVP
        else
          form.inline-block(action=routeMappings.Campaigns.Events.update.url(event.campaignId, event.id) method='post')
            input(type='hidden' name='_method' value=routeMappings.Campaigns.Events.update.verb)
            input(type='hidden' name='_csrf' value=csrfToken)
            button.-k-btn.btn-primary(type='submit') RSVP

          span.inline-block.px1 or

          form.inline-block(action=routeMappings.Campaigns.Events.destroy.url(event.campaignId, event.id) method='post')
            input(type='hidden' name='_method' value=routeMappings.Campaigns.Events.destroy.verb)
            input(type='hidden' name='_csrf' value=csrfToken)
            button.-k-btn(type='submit') Ignore

        h5 Attendees:

        if event.attendees.length
          each attendee in event.attendees
            p= attendee.user.account.fullname
        else
          p Currently there are no attendees for this event

      else
        p.-neutral-mid.-fw-500 Currently there are no scheduled events

      p Next events:
      ul
        each event in nextEvents
          li
            p: a(href='#')= event.name
            small by: #{event.user.account.fullname}
