.pt3.pb4.max-width-3.mx-auto
  header.pb2.border-bottom.-bw5
    h2= campaign.title
    h4= campaign.introText

  .Campaign_description.pt2!= campaign.description

  if campaign.users.length
    .pt3
      include ../../mixins/avatar-list
      +avatarListMixin(collective.users.map(user => user.account), 'smallGrayscale')

  unless userBelongsToCampaign
    .pt3
      if currentUser
        form(method='post' action=routeMappings.Campaigns.join.url(campaign.id))
          input(type='hidden' name='_csrf' value=csrfToken)
          button.-k-btn.btn-primary.-fw-700.-fw Join campaign
      else
        button.js-login-link.-k-btn.btn-primary.-fw-700.-fw Join campaign

      p.pt2.center.-caption.-fw-500 This campaign is currently inactive. You can join the campaign and we will notify you when it becomes active. If you have any doubt please contact us.
