extends ../layouts/application.pug

block title
  | #{disputeTool.name} — The Debt Collective

block content
  .wrapper.px2.py3
    .clearfix.mxn2
      .col.lg-col-3.col-12.px2
        include ../mixins/dispute-tools/sidebar
        +toolsSidebarMixin(disputeTool, 0)

      .col.lg-col-9.col-12.px2
        .Tool__Optionless.pt3.pr3.pl3.pb2.-bg-neutral-dark
          .Tool__Optionless__Content.pb3
            h4.pb2 We #[span ❤] debt resisters. Let's get this dispute started!
            != marked(disputeTool.about)

          a.-k-btn.btn-primary.-fw.-fw-600(href=`${routeMappings.startDispute.url(disputeTool.id)}?option=none`) Start Dispute

block scripts
  script.
    window.addEventListener('load', function() {
      var options = {
        currentUser: !{JSON.stringify(UserRenderer(currentUser))},
        currentURL: !{JSON.stringify(currentURL)},
        options: !{JSON.stringify(disputeTool.data.options)},
      };

      //- If class is not available is likely that something wrong happen with build process
      if (window.ViewDisputeToolsShow) {
        new ViewDisputeToolsShow(options);
      } else {
        const message = 'ViewDisputeToolsShow class is not available';
        console.warn(message);
        window.Sentry && Sentry.captureMessage(message);
      }
    }, true);
